appdirs==1.4.3
asn1crypto==1.2.0
attrs==19.3.0
black==19.3b0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
daiquiri==1.6.1
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.2
MarkupSafe==1.1.1
more-itertools==8.0.2
packaging==20.0
pluggy==0.13.1
py==1.8.1
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.3.2
requests==2.22.0
six==1.13.0
toml==0.10.0
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
