anaconda-anon-usage==0.7.5
anaconda-auth==0.12.0
anaconda-cli-base==0.7.0
annotated-types==0.7.0
archspec==0.2.5
backports.tarfile==1.2.0
backports.zstd==1.2.0
boltons==25.0.0
Brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
conda==25.11.0
conda-anaconda-telemetry==0.3.0
conda-anaconda-tos==0.2.2
conda-content-trust==0.2.0
conda-libmamba-solver==25.11.0
conda-package-handling==2.4.0
conda_package_streaming==0.12.0
cryptography==46.0.3
distro==1.9.0
frozendict==2.4.7
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jsonpatch==1.33
jsonpointer==3.0.0
keyring==25.7.0
libmambapy==2.4.0
markdown-it-py==4.0.0
mdurl==0.1.2
menuinst==2.4.1
more-itertools==10.8.0
msgpack==1.1.2
packaging==25.0
pip==25.3
pkce==1.0.3
platformdirs==4.5.1
pluggy==1.6.0
pycosat==0.6.6
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydantic-settings==2.12.0
Pygments==2.19.2
PyJWT==2.10.1
PySocks==1.7.1
python-dotenv==1.2.1
readchar==4.2.1
requests==2.32.5
rich==14.2.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.14
SecretStorage==3.4.1
semver==3.0.4
setuptools==80.9.0
shellingham==1.5.4
tomli==2.3.0
tqdm==4.67.1
truststore==0.10.3
typer==0.20.0
typer-slim==0.20.0
typing_extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.1
wheel==0.45.1
zstandard==0.25.0
